.header {
    background-color: var(--inverse-main-color);
    border-bottom: 1px solid var(--decorative-line-color);
    color: var(--main-color);
    left: 0;
    position: sticky;
    right: 0;
    top: 0;
    z-index: 15;

    &__inner {
        align-items: center;
        display: flex;
        justify-content: space-between;
        height: 80px;
    }

    &__contacts-shopping {
        display: flex;
        column-gap: 24px;
    }

    &__shopping {
        column-gap: 4px;
        display: flex;
        position: relative;
        transition: text-shadow var(--transition-time);
    }

    &__shopping-icon {
        font-size: 20px;
        transform: translateY(2px);
        height: 20px;
        width: 20px;
    }

    &__shopping-link {
        position: absolute;
        inset: 0;
    }

    &__theme {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__theme-icon {
        height: 20px;
        width: 20px;
        font-size: 20px;
    }

    &__burger {
        display: none;
        background: none;
        border: none;
        cursor: pointer;
        font-size: 24px;
        color: var(--main-color);
        padding: 8px;
    }
}

@media (hover: hover) {
    .header__contacts:hover .header__contacts-icon {
        animation: trigger-phone var(--transition-time) ease-in-out;
    }

    .header__contacts:hover {
        text-shadow: var(--main-color-text-shadow);
    }

    .header__shopping:hover {
        text-shadow: var(--main-color-text-shadow);
    }

    .header__theme:hover {
        text-shadow: var(--main-color-text-shadow);
    }
}

@media (max-width: 1200px) {
    .header__burger {
        display: block;
    }
}

@media (max-width: 768px) {
    .header__contacts-shopping {
        column-gap: 12px;
    }
}

@media (max-width: 480px) {
    .header .phone {
        display: none;
    }
}
