.nav {
    height: 100%;

    &__list {
        display: flex;
        font-size: 20px;
        height: 100%;
        justify-content: space-between;
        line-height: 30px;
    }

    &__item {
        text-transform: capitalize;
    }

    &__link {
        align-items: center;
        display: flex;
        height: 100%;
        overflow: hidden;
        padding: 0 16px;
        position: relative;
    }

    &__link::before {
        content: '';
        display: block;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        position: absolute;
        background-color: var(--main-color);
        transition:
            transform var(--transition-time) ease,
            opacity 0ms ease var(--transition-time);
        transition:
            transform ease var(var(--transition-time), var(--transition-time)),
            opacity ease 0ms var(--transition-time);
        transform: translateX(100%);
        opacity: 0;
    }

    &__link-active:before {
        transform: translateX(0);
        opacity: 1;
    }
}

@media (hover: hover) {
    .nav:hover .nav__link:hover:before {
        transition-delay: 0ms, 0ms;
    }

    .nav__link:hover:before {
        transform: translateX(0);
        opacity: 1;
    }

    .nav__link:hover ~ .nav__link:before {
        transform: translateX(-100%);
    }
}

@media (max-width: 1200px) {
    .nav {
        position: fixed;
        top: 0;
        left: -300px;
        width: 300px;
        height: 100vh;
        background-color: var(--background-color);
        padding: 80px 20px 20px;
        transition: left var(--transition-time) ease;
        z-index: 20;

        &-active {
            left: 0;
        }

        &__list {
            flex-direction: column;
            row-gap: 20px;
            height: auto;
        }

        &__link {
            height: auto;
        }
    }
}
