.product-favorite {
    background-color: transparent;
    border: none;
    transition: all var(--transition-time);

    & svg {
        display: block;
        fill: var(--secondary-color);
        height: 24px;
        width: 24px;
    }
}

@media (hover: hover) {
    .product-favorite:hover {
        filter: drop-shadow(var(--secondary-color-text-shadow));
    }
}
