:root {
    --main-color-value: 30, 30, 30;
    --main-color: rgb(var(--main-color-value));
    --inverse-main-color: rgb(255, 255, 255);
    --light-main-color: rgb(var(--main-color-value), 0.7);
    --decorative-line-color: rgba(111, 131, 110, 0.4);
    --transition-time: 0.3s;
    --box-shadow: 0 4px 32px 0 rgba(0, 16, 61, 0.12);

    --main-color-text-shadow: 0.1px 0.1px 0.1px rgb(var(--main-color-value));
}
